.nav-container {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-container a {
  color: white;
  text-decoration: none;
  margin: 7px;
}

.nav-container img {
  border-radius: 30px;
  margin: 7px;
}

.nav-container h2 {
  color: white;
}

h1 {
  background-image: url("https://picsum.photos/400/");
  background-size: cover;
  text-align: center;
  padding: 200px;
  font-size: 50px;
  margin-top: 0px;
  background-color: rgba(255, 255, 255, 0.514);
}

#feed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.feed img {
  align-self: center;
}

.card {
  background-color: rgba(198, 239, 255, 0.322);
  padding: 8px;
  margin: 10px;
}

.card:hover {
  box-shadow: 3px 3px rgba(65, 57, 57, 0.459);
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 10px;
}

h3 {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 25px;
}

.icon {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.footer img {
  border-radius: 30px;
}
