body {
  background-color: rgb(238, 238, 255);
  /* display: flex;
    justify-content: center; */
}

input,
textarea {
  font-size: 30px;
  margin: 30px;
  border-width: 0px;
  padding: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 0, 0.616);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 4px 4px 3px 3px rgba(0, 0, 0, 0.685);
  /* align-self: center; */
  justify-content: center;
  width: 30%;
  margin: auto;
  margin-top: 100px;
}

button {
  background-color: coral;
  font-size: 20px;
  padding: 10px;
}
p {
  align-self: center;
}

img {
  align-self: center;
  padding-right: 5px;
}

.form-container p {
  font-size: 35px;
}

